langgraph
python-dotenv
streamlit
langchain
langchain-google-genai
requests
pydantic
langgraph-checkpoint-sqlite
langchain-tavily
tavily-python
faiss-cpu
langchain-community
pypdf
langchain-text-splitters